.find-container {
  position: absolute;
  width: 100%;
  height: 100%;
  // background-color: lightgreen;
  overflow: hidden;
}
.find-topbar {
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #B5EFFF;
  text-align: center;
  font-size: 20px;
  z-index: 2;
}
.find-content {
  box-sizing: border-box;
  // background-color: yellow;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  // overflow-y: scroll;
}

.ui.bottom.attached.segment.active.tab {
  // position: relative;
  top: 80px;
  bottom: 0px;
  // background-color: lightblue;
  // height: 100%;
  position: absolute;
  overflow-y: auto;
}
.ui.items>.item {
  background-color: #fff;
}
.ui.items>.item>.content>.header.info-title {
  height: auto;
  filter: none; 
  -webkit-filter: blur(0px); 
  -moz-filter: blur(0px); 
  -ms-filter: blur(0px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
.info-ask-list {
  // background-color: lightgreen;
}
.info-ask-list li {
  // height: 130px;
  position: relative;
  margin: 5px 10px;
  padding: 10px 0;
}
.info-ask-list li .title {
  color: #000;
  font-weight: bold;
  padding: 5px;
  font-size: 16px;
}
.info-ask-list li .title .cate {
  box-sizing: border-box; 
  background-color: #C6F3FF;
  margin-right: 5px;
  padding: 0px 3px;
  display: inline-block;
  font-size: 14px;
}
.info-ask-list li .user {
  font-size: 12px;
  color: gray;
  padding-left: 5px;
}
.info-ask-list li .info {
  font-size: 10px;
  color: gray;
  padding-left: 5px;
}
.info-ask-list li .tag {
  padding-left: 5px;
  margin-top: 10px;
  overflow: hidden;
}
.info-ask-list li .tag span{
  font-size: 12px;
  color: #000;
  border: 1px solid gray;
  margin-right: 5px;
  padding: 2px 5px;
}
.info-ask-list li .tag span:last-child {
  float: right;
  border: 0px;
}
.info-ask-list li .num {
  // position: absolute;
  // right: 5px;
  // bottom: 10px;
  // color: #000;
}
.info-ask-btn {
  padding: 10px 15px;
}


