.chat-container {
  position: absolute;
  width: 100%;
  height: 100%;
  // background-color: lightgreen;
  overflow: hidden;
}
.chat-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #D4E0EE;
  text-align: center;
  font-size: 20px;
  z-index: 2;
}
.chat-list {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-top: 40px;
  overflow-y: scroll;
}
.chat-list ul {
  margin: 0;
  padding: 0;
}
.chat-list li{
  position: relative;
  list-style: none;
  background-color: #F3F3F3;
  padding: 0 15px;
  margin-top: 2px;
  height: 70px;
  line-height: 70px;
  overflow: hidden;
}
.chat-list li img {
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-top: 5px;
}
.chat-list li .name {
  position: absolute;
  left: 90px;
  top: -15px;
}
.chat-list li .info {
  position: absolute;
  left: 90px;
  top: 15px;
}
.chat-list li .time {
  position: absolute;
  right: 20px;
  top: -15px;
}
.chat-window {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
  z-index: 99999;
}
.chat-list::-webkit-scrollbar{
  width: 3px;
}
.chat-list::-webkit-scrollbar-thumb{
  background-color: #CBDAEA;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  min-height: 2rem;
  background-clip: padding-box;
  border-radius: 5px;
}
.chat-list::-webkit-scrollbar-track {
  background-color: #fff;
}
.chat-list::-webkit-scrollbar-track-piece {
  height: 30px;
}
